<!DOCTYPE html>
<html lang="en">
  <%- include('./template/head') %>
<body>
  <!-- 導覽列 -->
  <%- include('./template/navbar') %>
  <section class="section">
    <div class="admin">
      <a href="/admin-prize">編輯抽獎活動</a>
      <a href="/admin-menu">編輯餐廳菜單</a>
      <a href="/admin-faq">編輯常見問題</a>
    </div>
  </section>
</body>
</html>